$gold: #f0bd48;
$blue: #1e2458;
$blue-light: #327ae1;
$white: #FFFFFF;

.banner-container {
  //this whole container is temporary
  display: flex;
  flex-flow: row wrap;
  div.ucareb {
    margin: 10px;
  }
}
body {
  padding: 0;
  margin: 0;
}
.ucareb {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: $white;
  position: relative;
  overflow: hidden;
  .inner {
    position: relative;
    text-decoration: none !important;
    background: $blue-light;
    overflow: hidden;
    contain: strict;
    .logo-text {
      position: absolute;
      width: 200px;
      height: 50px;
      top: 20px;
      left: 20px;
      transition: all 250ms;
      .logo-hide {
        background: $blue-light;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        transition: all 750ms;
        &.active {
          width: 0px !important;
        }
      }
    }
    .logo-spark {
      width: 28px;
      height: 28px;
      position: absolute;
      z-index: 3;
      right: 0;
      bottom: 0;
      opacity: 1;
      transition: all 1000ms;
      &.inactive {
        margin-left: -100px;
        margin-top: 0;
        opacity: 0;
        transform: rotate(270deg);
      }
    }
    .text-jumper {
      color: $white;
      text-decoration: none !important;
      position: absolute;
      line-height: 1.2em;
      transition: opacity 1000ms;
      > span {
        transition: all 250ms;
        display: flex;
        opacity: 0;
        margin-top: 20px;
        > div {
          width: 60px;
          text-align: center;
        }
        > p {
          padding: 0;
          margin: 0;
        }
        &.active {
          // color: $white;
          opacity: 1;
          margin-top: 0;
        }
        &.clinic {
          img {

          }
        }
        &.doctor {
          img {

          }
        }
        &.network {
          img {

          }
        }
      }
      &.inactive {
        opacity: 0;
      }
    }
    .tagline {
      position: absolute;
      opacity: 1;
      transition: all 500ms;
      p {
        color: $white;
        text-align: center;
      }
      &.inactive {
        opacity: 0;
      }
    }
    span.button {
      background: $blue;
      color: $white;
      text-decoration: none;
      border-radius: 8px;
      padding: 0.5em 1.25em;
      position: absolute;
      opacity: 1;
      transition: opacity 1000ms;
      &.inactive {
        opacity: 0;
      }
    }
  }

  &#b728x90 {
    .inner {
      width: 728px;
      height: 90px;
      .logo-spark {
        left: 20px;
        top: 15px;
      }
      .logo-text {
        width: 170px;
        top: 15px;
        .logo-hide {
          width: 170px;
          height: 30px;
        }
      }
      .text-jumper {
        font-size: 23px;
        width: 537px;
        left: 195px;
        top: 7px;
        display: flex;
        flex-flow: row;
        > span {
          align-items: center;
          // margin-top: -20px;
          > div {
            width: 34px;
            img {
              width: 20px;
            }
          }
          p {
            font-size: 23px;
          }
          &.clinic {
            > div {
              img {
                width: 17px;
              }
            }
          }
        }
      }
      .tagline {
        top: 34px;
        left: 320px;
        p {
          font-size: 17px;
        }
      }
      span.button {
        left: 606px;
        top: 50px;
        font-size: 11px;
      }
    }
  }
  &#b300x600 {
    .inner {
      width: 300px;
      height: 600px;
      .logo-text {
        width: 185px;
        left: 60px;
        top: 40px;
        .logo-hide {
          width: 185px;
          height: 35px;
        }
      }
      .logo-spark {
        width: 33px;
        top: 40px;
        left: 60px;
      }
      .text-jumper {
        font-size: 38px;
        top: 95px;
        left: 22px;
        width: 260px;
        > span {
          flex-flow: column;
          align-items: center;
          p {
            font-size: 33px;
            margin-bottom: 15px;
          }
        }
      }
      .tagline {
        top: 460px;
        left: 27px;
      }
      span.button {
        top: 520px;
        left: 90px;
        font-size: 15px;
      }
    }
  }
  &#b300x250 {
    .inner {
      width: 300px;
      height: 250px;
      .logo-spark {
        top: 19px;
        left: 40px;
      }
      .logo-text {
        width: 155px;
        left: 45px;
        .logo-hide {
          width: 140px;
          height: 30px;
        }
      }
      .text-jumper {
        font-size: 24px;
        top: 60px;
        left: 22px;
        width: 230px;
        > span {
          margin-bottom: 7px;
          &.clinic {
            p {
              margin-top: 4px;
            }
          }
        }
      }
      .tagline {
        top: 185px;
        left: 43px;
        width: 100px;
        p {
          font-size: 12px;
          text-align: left;
        }
      }
      span.button {
        top: 196px;
        left: 150px;
        font-size: 15px;
      }
    }
  }
  &#b160x600 {
    .inner {
      width: 160px;
      height: 600px;
      .logo-text {
        width: 125px;
        left: 20px;
        top: 30px;
        .logo-hide {
          width: 125px;
          height: 30px;
        }
      }
      .logo-spark {
        width: 22px;
        top: 30px;
        left: 19px;
      }
      .text-jumper {
        font-size: 28px;
        top: 78px;
        left: 15px;
        width: 128px;
        > span {
          flex-flow: column;
          align-items: center;
          img {
            max-width: 30px;
          }
          p {
            font-size: 29px;
            text-align: center;
            line-height: 1em;
            margin-bottom: 20px;
          }
        }
      }
      .tagline {
        top: 460px;
        left: 12px;
        width: 85%;
      }
      span.button {
        top: 540px;
        left: 25px;
        font-size: 13px;
      }
    }
  }
  &#b970x250 {
    .inner {
      width: 970px;
      height: 250px;
      .text-jumper {
        font-size: 41px;
        top: 40px;
        left: 300px;
        width: 450px;
        > span {
          align-items: center;
          height: 73px;
          &.icons {
            display: flex;
            flex-flow: row;
            justify-content: center;
            width: 260px;
            margin-left: 80px;
            height: 50px;
          }
          div {
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            width: 350px;
            img {
              &.book {
                height: 51px;
              }
              &.arrow {
                height: 35px;
                margin-top: 10px;
              }
              &.check {
                height: 62px;
              }
            }
          }
        }
      }
      .logo-text {
        top: 110px;
        left: 55px;
        .logo-hide {
          width: 200px;
          height: 50px;
        }
      }
      .logo-spark {
        width: 35px;
        left: 55px;
        top: 110px;
      }
      .tagline {
        top: 142px;
        left: 240px;
        width: 536px;
        p {
          font-size: 21px;
        }
      }
      span.button {
        right: 60px;
        bottom: 100px;
        font-size: 18px;
      }
    }
  }
  &#b320x50 {
    .inner {
      width: 320px;
      height: 50px;
      .logo-text {
        width: 95px;
        left: 10px;
        top: 17px;
        .logo-hide {
          width: 95px;
          height: 20px;
        }
      }
      .logo-spark {
        width: 20px;
        top: 15px;
        left: 8px;
      }
      .text-jumper {
        font-size: 12px;
        width: 140px;
        left: 115px;
        top: 4px;
        display: flex;
        flex-flow: row wrap;
      }
      .tagline {
        display: none;
      }
      span.button {
        // display: inline;
        // padding: inherit;
        // background: none;
        // color: $white;
        // text-decoration: underline;
        font-size: 9px;
        left: 230px;
        bottom: 12px;
      }
    }
  }

}
