$gold: #f1c04a;
$blue: #011c5a;
$white: #FFFFFF;

.banner-container {
  //this whole container is temporary
  display: flex;
  flex-flow: row wrap;
  div.ucareb {
    margin: 10px;
  }
}
body {
  padding: 0;
  margin: 0;
}
.ucareb {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: $blue;
  position: relative;
  overflow: hidden;
  .inner {
    position: relative;
    text-decoration: none !important;
    background: $blue;
    overflow: hidden;
    contain: strict;
    .logo-text {
      position: absolute;
      width: 200px;
      height: 50px;
      top: 20px;
      left: 20px;
      transition: all 250ms;
      .logo-hide {
        background: $blue;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        transition: all 750ms;
        &.active {
          width: 0px !important;
        }
      }
    }
    .logo-spark {
      width: 230px;
      height: 230px;
      position: absolute;
      right: 0;
      bottom: 0;
      transition: all 1000ms;
      &.inactive {
        margin-right: -230px;
        margin-bottom: -230px;
        transform: rotate(270deg);
      }
    }
    .text-jumper {
      color: $gold;
      text-decoration: none !important;
      position: absolute;
      line-height: 1.2em;
      transition: opacity 1000ms;
      > span {
        transition: all 250ms;
        &.active {
          color: $white;
        }
      }
      &.inactive {
        opacity: 0;
      }
    }
    span.button {
      background: $white;
      color: $blue;
      text-decoration: none;
      border-radius: 8px;
      padding: 0.5em 1.5em;
      position: absolute;
      opacity: 1;
      transition: opacity 1000ms;
      &.inactive {
        opacity: 0;
      }
    }
  }

  &#b728x90 {
    .inner {
      width: 728px;
      height: 90px;
      .logo-spark {
        width: 93px;
        right: -11px;
        bottom: -150px;
      }
      .logo-text {
        width: 170px;
        top: 35px;
        .logo-hide {
          width: 170px;
          height: 30px;
        }
      }
      .text-jumper {
        font-size: 25px;
        width: 300px;
        left: 220px;
        top: 15px;
      }
      span.button {
        left: 530px;
        top: 35px;
        font-size: 13px;
      }
    }
  }
  &#b300x600 {
    .inner {
      width: 300px;
      height: 600px;
      .logo-text {
        width: 160px;
        .logo-hide {
          width: 160px;
          height: 30px;
        }
      }
      .logo-spark {
        width: 188px;
        right: -35px;
        bottom: -69px;
      }
      .text-jumper {
        font-size: 38px;
        top: 95px;
        left: 25px;
        width: 200px;
      }
      span.button {
        top: 390px;
        left: 25px;
        font-size: 15px;
      }
    }
  }
  &#b300x250 {
    .inner {
      width: 300px;
      height: 250px;
      .logo-spark {
        width: 140px;
        height: 140px;
        bottom: -19px;
        right: -21px;      }
      .logo-text {
        width: 140px;
        .logo-hide {
          width: 140px;
          height: 30px;
        }
      }
      .text-jumper {
        font-size: 24px;
        top: 60px;
        left: 15px;
        width: 215px;
      }
      span.button {
        top: 160px;
        left: 15px;
        font-size: 12px;
      }
    }
  }
  &#b160x600 {
    .inner {
      width: 160px;
      height: 600px;
      .logo-text {
        width: 140px;
        left: 10px;
        .logo-hide {
          width: 140px;
          height: 30px;
        }
      }
      .logo-spark {
        width: 171px;
        right: -34px;
        bottom: -84px;
      }
      .text-jumper {
        font-size: 28px;
        top: 115px;
        left: 15px;
        width: 128px;
      }
      span.button {
        top: 330px;
        left: 15px;
        font-size: 13px;
      }
    }
  }
  &#b970x250 {
    .inner {
      width: 970px;
      height: 250px;
      .text-jumper {
        font-size: 43px;
        top: 90px;
        left: 67px;
        width: 530px;
      }
      .logo-text {
        .logo-hide {
          width: 200px;
          height: 50px;
        }
      }
      .logo-spark {
        right: -32px;
        bottom: -23px;
      }
      span.button {
        right: 213px;
        bottom: 76px;
        font-size: 18px;
      }
    }
  }
  &#b320x50 {
    .inner {
      width: 320px;
      height: 50px;
      .logo-text {
        width: 95px;
        left: 10px;
        top: 17px;
        .logo-hide {
          width: 95px;
          height: 20px;
        }
      }
      .logo-spark {
        display: none;
      }
      .text-jumper {
        font-size: 12px;
        width: 192px;
        left: 115px;
        top: 12px;
      }
      span.button {
        display: inline;
        padding: inherit;
        background: none;
        color: $blue;
        text-decoration: underline;
        font-size: 12px;
        left: 190px;
        bottom: 9px;
      }
    }
  }

}
