/* line 5, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.banner-container {
  display: flex;
  flex-flow: row wrap;
}

/* line 9, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.banner-container div.ucareb {
  margin: 10px;
}

/* line 14, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #001f5b;
  position: relative;
  overflow: hidden;
}

/* line 20, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb .inner {
  position: relative;
  text-decoration: none !important;
  background: #f0bd48;
  overflow: hidden;
}

/* line 25, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb .inner .logo-text {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 20px;
  left: 20px;
  transition: all 250ms;
}

/* line 32, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb .inner .logo-text .logo-hide {
  background: #f0bd48;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  transition: all 750ms;
}

/* line 39, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb .inner .logo-text .logo-hide.active {
  width: 1px !important;
}

/* line 44, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb .inner .logo-spark {
  width: 230px;
  height: 230px;
  position: absolute;
  right: 0;
  bottom: 0;
  transition: all 1000ms;
}

/* line 51, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb .inner .logo-spark.inactive {
  margin-right: -230px;
  margin-bottom: -230px;
  transform: rotate(270deg);
}

/* line 57, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb .inner .text-jumper {
  color: #001f5b;
  text-decoration: none !important;
  position: absolute;
  line-height: 1.2em;
  transition: opacity 1000ms;
}

/* line 63, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb .inner .text-jumper > span {
  transition: all 250ms;
}

/* line 65, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb .inner .text-jumper > span.active {
  color: #FFFFFF;
}

/* line 69, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb .inner .text-jumper.inactive {
  opacity: 0;
}

/* line 73, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb .inner span.button {
  background: #001f5b;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 8px;
  padding: 0.5em 1.5em;
  position: absolute;
  opacity: 1;
  transition: opacity 1000ms;
}

/* line 82, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb .inner span.button.inactive {
  opacity: 0;
}

/* line 89, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b728x90 .inner {
  width: 728px;
  height: 90px;
}

/* line 92, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b728x90 .inner .logo-spark {
  width: 93px;
  right: -11px;
  bottom: -150px;
}

/* line 97, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b728x90 .inner .logo-text {
  width: 170px;
  top: 35px;
}

/* line 100, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b728x90 .inner .logo-text .logo-hide {
  width: 170px;
  height: 30px;
}

/* line 105, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b728x90 .inner .text-jumper {
  font-size: 25px;
  width: 300px;
  left: 220px;
  top: 15px;
}

/* line 111, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b728x90 .inner span.button {
  left: 530px;
  top: 35px;
  font-size: 13px;
}

/* line 119, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b300x600 .inner {
  width: 300px;
  height: 600px;
}

/* line 122, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b300x600 .inner .logo-text {
  width: 160px;
}

/* line 124, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b300x600 .inner .logo-text .logo-hide {
  width: 160px;
  height: 30px;
}

/* line 129, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b300x600 .inner .logo-spark {
  width: 188px;
  right: -35px;
  bottom: -69px;
}

/* line 134, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b300x600 .inner .text-jumper {
  font-size: 38px;
  top: 95px;
  left: 25px;
  width: 200px;
}

/* line 140, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b300x600 .inner span.button {
  top: 390px;
  left: 25px;
  font-size: 15px;
}

/* line 148, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b300x250 .inner {
  width: 300px;
  height: 250px;
}

/* line 151, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b300x250 .inner .logo-spark {
  width: 140px;
  height: 140px;
  bottom: -19px;
  right: -21px;
}

/* line 156, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b300x250 .inner .logo-text {
  width: 140px;
}

/* line 158, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b300x250 .inner .logo-text .logo-hide {
  width: 140px;
  height: 30px;
}

/* line 163, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b300x250 .inner .text-jumper {
  font-size: 24px;
  top: 60px;
  left: 15px;
  width: 215px;
}

/* line 169, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b300x250 .inner span.button {
  top: 160px;
  left: 15px;
  font-size: 12px;
}

/* line 177, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b160x600 .inner {
  width: 160px;
  height: 600px;
}

/* line 180, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b160x600 .inner .logo-text {
  width: 140px;
  left: 10px;
}

/* line 183, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b160x600 .inner .logo-text .logo-hide {
  width: 140px;
  height: 30px;
}

/* line 188, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b160x600 .inner .logo-spark {
  width: 171px;
  right: -34px;
  bottom: -84px;
}

/* line 193, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b160x600 .inner .text-jumper {
  font-size: 28px;
  top: 115px;
  left: 15px;
  width: 128px;
}

/* line 199, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b160x600 .inner span.button {
  top: 330px;
  left: 15px;
  font-size: 13px;
}

/* line 207, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b970x250 .inner {
  width: 970px;
  height: 250px;
}

/* line 210, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b970x250 .inner .text-jumper {
  font-size: 43px;
  top: 90px;
  left: 67px;
  width: 530px;
}

/* line 217, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b970x250 .inner .logo-text .logo-hide {
  width: 200px;
  height: 50px;
}

/* line 222, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b970x250 .inner .logo-spark {
  right: -32px;
  bottom: -23px;
}

/* line 226, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b970x250 .inner span.button {
  right: 213px;
  bottom: 76px;
  font-size: 18px;
}

/* line 234, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b320x50 .inner {
  width: 320px;
  height: 50px;
}

/* line 237, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b320x50 .inner .logo-text {
  width: 95px;
  left: 10px;
  top: 17px;
}

/* line 241, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b320x50 .inner .logo-text .logo-hide {
  width: 95px;
  height: 20px;
}

/* line 246, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b320x50 .inner .logo-spark {
  display: none;
}

/* line 249, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b320x50 .inner .text-jumper {
  font-size: 12px;
  width: 192px;
  left: 115px;
  top: 12px;
}

/* line 255, ../../../../../Users/tesch/Development/ucare-banners/scss/banners.scss */
.ucareb#b320x50 .inner span.button {
  display: inline;
  padding: inherit;
  background: none;
  color: #001f5b;
  text-decoration: underline;
  font-size: 12px;
  left: 190px;
  bottom: 9px;
}

/*# sourceMappingURL=banners.css.map */